.react-card-back div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.flash-cards .react-card-back div, .flash-cards .react-card-front img {
    height: 590px;
    width: 510px;
    margin-left: 80px;
    margin-right: 30px;
}

.react-card-flip {
    margin-top: 50px;
}

.flash-cards div.react-card-back {
    background-color: #6DB4F0;
    height: 590px;
    width: 510px;
}

.flash-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.action-cards .react-card-back div, .action-cards .react-card-front img {
    height: 350px;
    width: 900px;
    text-align: center;
    margin-left: 80px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.action-cards div.react-card-back {
    background-color: #6DB4F0;
    height: 350px;
    width: 900px;
}

.action-cards {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learning-page {
    background-color: #67A1DF;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.react-card-back p {
    font-family: 'Patrick Hand SC', cursive, Arial, sans-serif;
    font-size: 40px;
}